USE [master]
GO
/****** Object:  Database [DB_Truco]    Script Date: 4/7/2023 21:30:36 ******/
CREATE DATABASE [DB_Truco]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Truco', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_Truco.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Truco_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_Truco_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Truco].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Truco]
GO
/****** Object:  Table [dbo].[MesaDeJuegoEstadisticas]    Script Date: 4/7/2023 21:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MesaDeJuegoEstadisticas](
	[IDMESADEJUEGO] [int] IDENTITY(1,1) NOT NULL,
	[NUMEROMESADEJUEGO] [int] NOT NULL,
	[FECHA] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MesaDeJuegoSalas]    Script Date: 4/7/2023 21:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MesaDeJuegoSalas](
	[IDMESADEJUEGO] [int] IDENTITY(1,1) NOT NULL,
	[NUMEROMESADEJUEGO] [int] NOT NULL,
	[JUGADORUNO] [varchar](50) NOT NULL,
	[JUGADORDOS] [varchar](50) NOT NULL,
	[DURACION] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TablaJugador]    Script Date: 4/7/2023 21:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaJugador](
	[IDJUGADOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREJUGADOR] [varchar](50) NOT NULL,
	[PASSWORDJUGADOR] [varchar](50) NOT NULL,
	[PARTIDASGANADASPORJUGADOR] [int] NOT NULL,
	[PARTIDASPERDIDASPORJUGADOR] [int] NOT NULL,
	[ESTAJUGANDO] [bit] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MesaDeJuegoEstadisticas] ON 

INSERT [dbo].[MesaDeJuegoEstadisticas] ([IDMESADEJUEGO], [NUMEROMESADEJUEGO], [FECHA]) VALUES (1, 1, CAST(N'2023-06-20' AS Date))
INSERT [dbo].[MesaDeJuegoEstadisticas] ([IDMESADEJUEGO], [NUMEROMESADEJUEGO], [FECHA]) VALUES (2, 2, CAST(N'2023-06-20' AS Date))
INSERT [dbo].[MesaDeJuegoEstadisticas] ([IDMESADEJUEGO], [NUMEROMESADEJUEGO], [FECHA]) VALUES (3, 3, CAST(N'2023-06-20' AS Date))
GO
SET IDENTITY_INSERT [dbo].[MesaDeJuegoEstadisticas] OFF
GO
SET IDENTITY_INSERT [dbo].[TablaJugador] ON 

INSERT [dbo].[TablaJugador] ([IDJUGADOR], [NOMBREJUGADOR], [PASSWORDJUGADOR], [PARTIDASGANADASPORJUGADOR], [PARTIDASPERDIDASPORJUGADOR], [ESTAJUGANDO]) VALUES (1, N'EnzoPerez', N'river912', 11, 13, 0)
INSERT [dbo].[TablaJugador] ([IDJUGADOR], [NOMBREJUGADOR], [PASSWORDJUGADOR], [PARTIDASGANADASPORJUGADOR], [PARTIDASPERDIDASPORJUGADOR], [ESTAJUGANDO]) VALUES (2, N'Enzo Francescoli', N'rivercampeon', 3, 12, 0)
INSERT [dbo].[TablaJugador] ([IDJUGADOR], [NOMBREJUGADOR], [PASSWORDJUGADOR], [PARTIDASGANADASPORJUGADOR], [PARTIDASPERDIDASPORJUGADOR], [ESTAJUGANDO]) VALUES (3, N'Ramon Diaz', N'1854', 5, 8, 0)
SET IDENTITY_INSERT [dbo].[TablaJugador] OFF
GO
USE [master]
GO
