USE [master]
GO
/****** Object:  Database [UTN_SALAS_FECHA_DE_CREACION]    Script Date: 29/11/2022 10:20:27 ******/
CREATE DATABASE [UTN_SALAS_FECHA_DE_CREACION]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UTN_SALAS_FECHA_DE_CREACION', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\UTN_SALAS_FECHA_DE_CREACION.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UTN_SALAS_FECHA_DE_CREACION_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\UTN_SALAS_FECHA_DE_CREACION_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UTN_SALAS_FECHA_DE_CREACION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UTN_SALAS_FECHA_DE_CREACION]
GO
/****** Object:  Table [dbo].[JUGADORES_DATO]    Script Date: 29/11/2022 10:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUGADORES_DATO](
	[ID_JUGADOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[CONTRASENIA] [varchar](100) NOT NULL,
	[PARTIDAS_GANADAS] [int] NOT NULL,
	[PARTIDAS_PERDIDAS] [int] NOT NULL,
	[ESTADO] [bit] NOT NULL,
 CONSTRAINT [PK_JUGADORES_DATO] PRIMARY KEY CLUSTERED 
(
	[ID_JUGADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALAS_FECHA_CREACION]    Script Date: 29/11/2022 10:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALAS_FECHA_CREACION](
	[ID_MESA] [int] IDENTITY(1,1) NOT NULL,
	[NUMERO_MESA] [int] NOT NULL,
	[FECHA_PARTIDA] [date] NOT NULL,
 CONSTRAINT [PK_SALAS_FECHA_CREACION] PRIMARY KEY CLUSTERED 
(
	[ID_MESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALAS_PARA_JUGAR]    Script Date: 29/11/2022 10:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALAS_PARA_JUGAR](
	[ID_MESA] [int] IDENTITY(1,1) NOT NULL,
	[NUMERO_MESA] [int] NOT NULL,
	[JUGADOR_UNO] [varchar](70) NOT NULL,
	[JUGADOR_DOS] [varchar](70) NOT NULL,
	[FECHA_PARTIDA] [varchar](70) NOT NULL,
 CONSTRAINT [PK_SALAS_PARA_JUGAR] PRIMARY KEY CLUSTERED 
(
	[ID_MESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JUGADORES_DATO] ON 

INSERT [dbo].[JUGADORES_DATO] ([ID_JUGADOR], [NOMBRE], [CONTRASENIA], [PARTIDAS_GANADAS], [PARTIDAS_PERDIDAS], [ESTADO]) VALUES (1, N'Astro18', N'Lolo334gu', 5, 2, 0)
INSERT [dbo].[JUGADORES_DATO] ([ID_JUGADOR], [NOMBRE], [CONTRASENIA], [PARTIDAS_GANADAS], [PARTIDAS_PERDIDAS], [ESTADO]) VALUES (2, N'Canela777', N'pulpo34', 1, 3, 0)
INSERT [dbo].[JUGADORES_DATO] ([ID_JUGADOR], [NOMBRE], [CONTRASENIA], [PARTIDAS_GANADAS], [PARTIDAS_PERDIDAS], [ESTADO]) VALUES (3, N'MarceloTinelli45', N'flaco3456', 1, 3, 1)
SET IDENTITY_INSERT [dbo].[JUGADORES_DATO] OFF
GO
SET IDENTITY_INSERT [dbo].[SALAS_FECHA_CREACION] ON 

INSERT [dbo].[SALAS_FECHA_CREACION] ([ID_MESA], [NUMERO_MESA], [FECHA_PARTIDA]) VALUES (1, 1, CAST(N'2022-11-11' AS Date))
INSERT [dbo].[SALAS_FECHA_CREACION] ([ID_MESA], [NUMERO_MESA], [FECHA_PARTIDA]) VALUES (2, 1, CAST(N'2022-11-11' AS Date))
INSERT [dbo].[SALAS_FECHA_CREACION] ([ID_MESA], [NUMERO_MESA], [FECHA_PARTIDA]) VALUES (3, 1, CAST(N'2022-11-11' AS Date))
SET IDENTITY_INSERT [dbo].[SALAS_FECHA_CREACION] OFF
GO
SET IDENTITY_INSERT [dbo].[SALAS_PARA_JUGAR] ON 

INSERT [dbo].[SALAS_PARA_JUGAR] ([ID_MESA], [NUMERO_MESA], [JUGADOR_UNO], [JUGADOR_DOS], [FECHA_PARTIDA]) VALUES (35, 30, N'Nacho34', N'MarceloTinelli45', N'04:03')
SET IDENTITY_INSERT [dbo].[SALAS_PARA_JUGAR] OFF
GO
USE [master]
GO
